# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
bower_components/
jspm_packages/

# TypeScript cache & build files
*.tsbuildinfo
dist/

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional caches
.cache
.parcel-cache
.next
.nuxt
out
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port

# VSCode testing directories
.vscode-test

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Turbo repo cache (if using Turbo)
.turbo/
